<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="risingtide.com.tappay">

    <queries>
        <package android:name="jp.naver.line.android" />
        <package android:name="com.jkos.app" />
        <package android:name="com.easycard.wallet" />
    </queries>

    <application>
        <activity
            android:name=".GooglePayActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name=".EasyWalletActivity"
            android:exported="false" />
        <activity
            android:name=".EasyWalletReturnActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="risingtide.com"
                    android:scheme="easywallet" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JkoPayActivity"
            android:exported="false" />
        <activity
            android:name=".JkoPayReturnActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="risingtide.com"
                    android:scheme="jkopay" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LinePayReturnActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="risingtide.com"
                    android:scheme="linepay" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LinePayActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
    </application>

</manifest>